APP_BASE_URL=

FLIGHT_PROVIDER=

AMADEUS_TEST_CLIENT_ID=
AMADEUS_TEST_CLIENT_SECRET=
AMADEUS_PROD_CLIENT_ID=
AMADEUS_PROD_CLIENT_SECRET=
AMADEUS_RATE_LIMIT=
AMADEUS_RATE_WINDOW=

SERPAPI_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_PREFIX=

JWT_SECRET=
JWT_EXPIRES_IN=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
